*{
    
    box-sizing:border-box;

}


body{
    background-color: rgb(90, 2, 2);
    font-size: 18px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


#app{
margin-top:10%;
width:700px;
height:1200px;
background-color: white;
border-radius: 40px;
text-align:center;

}


.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 6, 6);
    width: 100%;
    height: 8%;
    border-radius: 20px 20px 2px 2px;
    justify-content: center;
    color:white;
    font-size:2.5rem;


}


.bill{
    display:flex;
    margin-left: 20px;
    font-size: 2rem;  
}

.billInput{
    display:flex;
    margin-left: 20px; 
    width:450px;
    height:60px ;
    font-size: 30px;
    scrollbar-shadow-color: blue;
    box-shadow:inset 0 0 2px #888;
}

.service{
    display:flex;
    margin-left: 20px; 
    font-size: 2rem;  
}

.serviceSelect{
    
    margin-left: 20px; 
    font-size: 30px;
    width:450px;
    height:60px ;
    border-radius: 10px;
    font-weight: bold;
}

.share{
    display:flex;
    font-size: 2rem; 
    margin-left: 20px;  
}


.container{
    display: flex;
}

.people{
    font-size: 25px;
    margin-left:10px;
    margin-top: 15px;

}

.peopleInput{
    display:flex;
    margin-left: 20px;
    width:450px;
    height:60px ;
    font-size:2rem;
    box-shadow:inset 0 0 2px #888;
    
}

#btn{
    margin-top:70px;
    width:250px;
    height:70px;
    background-color:rgb(160, 17, 17);
    font-size:1.5rem;
    font-weight: bold;
    color:white;
}


.tip{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

.result{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}




.each{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

