*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: aqua;
    width: auto;
    height: auto;
    align-items: center;
}

.container{
    text-align: center;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timeAdjustment{
    width:150px;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-top: 40px;
}

.square{
    width:270px;
    height:150px;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    border: 4px darkblue solid;
    border-radius: 20px;
}

#timer{
    font-size: 4rem;
}

#stop-play{
    display: flex;
    width:100px;
    margin-top: 20px;
    justify-content: space-around;
}